@import '~antd/dist/antd.css';

body{
    background-image: url('./Images/Interview-React-2.jpg'); 
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin-top: 40px
}

ul{
  list-style-type: none;  
  padding-inline-start: 0px !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important; 
}

.App {
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px; 
  opacity: 0.9;
}

.card{
  width: 300px;
} 

@media (max-width: 768px) 
{
  .App
  {
      display: flex;
      flex-direction: column;      
      margin-left: 20px;
      margin-right: 20px;
      padding: 17px;
  }  
  .card{
    width: 100%;
  } 
}
.app-left
{
  width:40% ;
}

.app-right
{
  width: 60%;
}

 .pro-Images{
   
   border-radius: 50%;
 }

.name{
  font-weight: bold;
  color: rgb(206, 0, 0);
}


.title-p
{
  display: inline;
  padding: 5px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
